<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="icon-180x180" sizes="180x180" href="{{ 'icon-180x180.png' | prepend: 'images/' | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'icon-32x32.png' | prepend: 'images/' | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'icon-16x16.png' | prepend: 'images/' | absolute_url }}">
<!--<link rel="manifest" href="{{ 'site.webmanifest' | prepend: '/assets/images/' | absolute_url }}">-->
<link rel="mask-icon" href="{{ 'icon-564x564.svg' | prepend: 'images/' | absolute_url }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<style>
    /* DXC Black */
    .github-fork-ribbon.left-top:before {
        background-color: #000000;
    }
</style>

<!-- Mermaid diagram library -->
<script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>

<!-- end custom head snippets -->
