---
layout: single
permalink: /
classes: wide
sidebar:
  nav: "sidenav"



---
<style>
 .page {
    padding-right: 30px; /*DXC Customization - override content padding for main page*/
  }
</style>

<link rel="stylesheet" href="ism/css/my-slider.css"/>

<script src="ism/js/ism-2.2.min.js"></script>

<div class="ism-slider" data-buttons="false" id="my-slider">
  <ol>
    <li>
      <img src="images/Slide1.JPG">
      <a class="ism-caption ism-caption-0" href="{{ '/posts/' | relative_url}}" target="_self" data-delay='100' style="color:white;"> Read </a>

    </li>
    <li>
      <img src="images/Img_slider2.jpg">
      <a class="ism-caption ism-caption-0" href="{{ '/overview/' | relative_url}}" target="_self" data-delay='100' style="color:white;"> Explore </a>
    </li>
    <li>
      <img src="images/Img_slider3.jpg">
      <a class="ism-caption ism-caption-0" href="{{ '/engage/' | relative_url}}" target="_self" data-delay='100' style="color:white;"> Visit </a>
    </li>
  </ol>
</div>

{% include feature_row id="intro" type="center" %}
{% include feature_row id="feature_row" type="left" %}
