---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// DXC Customization

html {
  font-size: 20px; // Smaller font

  @include breakpoint($medium) {
    font-size: 20px;
  }

  @include breakpoint($large) {
    font-size: 20px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

// GitHub Comments from issues
body > div > div .comment {

  background-image: url(comment-header.svg);
  background-repeat: no-repeat;
  background-position: 60px 00px;
  margin-bottom: 10px;

  .comment-header {
    color: #999;
    font-size: 18px;
  }

  .comment-username {
    font-weight: bold;
    font-size: 18px;
  }

  a.comment-date {
    color: #999;
    &:hover {
          color: #444;
    }
    font-size: 18px;
   }

  .comment-body {
    padding-left: 90px;
    padding-top: 10px;
    font-size: 16px;
  }

  .comment-reactions {
    padding-left: 90px;
  }

  img {
    border-radius: 3px !important;
    vertical-align: middle;
    margin-right: 50px;
  }

  p {
    padding-bottom: 0.75em;
  }

  p:last-child {
    padding-bottom: 0em;
  }

  .emoji {
    margin-right: 5px;
    vertical-align: bottom;
    font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .emoji-wrapper {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px lightgrey solid;
    vertical-align: middle;
  }

  .emoji-wrapper:last-child {
    border:none;
  }
}

/*******************************************************************************
Trying a simple approach to resizable image maps
*******************************************************************************/
.image{
  position: relative;
}
.image a{
  display: block;      
  position: absolute;
}
